BasedOnStyle: LLVM
AccessModifierOffset: 0
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
IncludeBlocks: Preserve
PointerAlignment: Right
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignOperands: true
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: true
EmptyLineBeforeAccessModifier: Always
